:root {
	--white: #f7f8fa;
	--lime: #dafdba;
	--ltgreen: #9aeba3;
	--teal: #45c4b0;
	--dpblue: #13678a;
	--nvblue: #012030;
	--font-size: 1.3rem;
	--mono: "Oxygen mono", monospace;
	--sans: Oxygen, sans-serif;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	padding: 0;
	margin: 0;
	font-family: var(--sans);
	background-color: var(--nvblue);
	color: var(--white);
	font-size: var(--font-size);
}

h1,
h2,
h3 {
	margin: 0;
}

a {
	color: var(--teal);
}

a:hover {
	color: var(--ltgreen);
	text-decoration: none;
}

/* intro styles */

#intro {
	padding-bottom: 10rem;
}

#intro p {
	font-size: 1rem;
	line-height: 1.5;
}

#intro .name {
	font-family: var(--mono);
}

.name span {
	font-family: var(--sans);
	font-size: 4rem;
	color: var(--ltgreen);
	display: block;
}

#intro h2 {
	font-size: 4rem;
	font-weight: normal;
}

#contact {
	width: 400px;
	text-align: center;
	margin: 0 auto;
	padding: 3rem 0;
}

#contact p:last-child {
	margin-top: 3rem;
}

/* navbar */

nav {
	font-family: var(--mono);
	font-size: 80%;
	padding: 1rem;
}

nav h1 a {
	font-family: var(--sans);
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

nav li:first-child {
	flex-basis: 100%;
	text-align: center;
}

nav [class*="fa-"] {
	font-size: 150%;
	color: var(--lime);
}

nav h1 [class*="fa-"] {
	font-size: 100%;
	color: var(--lime);
}

nav a {
	color: var(--white);
	text-decoration: none;
	display: block;
}

nav a:hover,
nav [class*="fa-"]:hover {
	color: var(--ltgreen);
}

.button {
	background-color: var(--teal);
	padding: 0.5rem;
	border-radius: 7px;
}

.button:hover {
	color: var(--white);
	background-color: var(--ltgreen);
}

/* footer section */
footer {
	text-align: center;
}

footer ul {
	list-style-type: none;
	padding: 0;
	margin: 2rem 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 3rem;
	font-size: 3rem;
}

@media (min-width: 850px) {
	nav {
		max-width: 1200px;
		margin: 0 auto;
	}

	nav li:first-child {
		flex-basis: auto;
		text-align: left;
		margin-right: auto;
	}
}
